body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            
        }
        .background {
            background: url('/image/download.jpg');
            width: 50;
            height: 100vh;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
  
        }
        .navbar {
            position: absolute;
            top: 20px;
            right: 40px;
        }
        .navbar ul {
            list-style: none;
        }
        .navbar a {
            color: black;
            text-decoration: none;
            font-weight: bold;
        }
        .a {
            color: #fff;
        }

    